:root {
    --bg-color: #FFF8ED;
    --letra-color: #4B2F1C;
    --verde-oscuro: #9FAF35;
    --verde-claro: #E2E8B8;
    --fuente-texto: "Margarine", sans-serif;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    font-family: "Margarine", sans-serif;
    color: var(--letra-color);
    overflow-x: hidden;
    width: 100%;
}

header{
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-color);
}

.img-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 295px;
    height: 130px;
    cursor: pointer;
}

nav{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 15px 0;
    border-bottom: 1px solid #c1b2a7;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 50px;
    padding: 0;
    margin: 0;
}

nav a{
    text-decoration: none;
    color: var(--letra-color);
    font-weight: bold;
    font-size: 1.1rem;
}

nav a.active{
    color: var(--verde-oscuro);
    border-bottom: 3px solid var(--verde-claro);
}

nav a:hover{
    color: var(--verde-oscuro);
}

.link-underline{
    color: var(--letra-color);
    text-decoration: none;
    position: relative;
    display: inline-block;
    padding: .2rem;
}

.link-underline::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background-color: var(--verde-oscuro);
    transform: scaleX(0);
    transform-origin: left;

    transition: transform 250ms ease-out;
}

.link-underline:hover::after{
    transform: scaleX(1);
}

.about-section {
    display: flex;
    justify-content: center;
    padding: 60px 10px;
}

.about-container{
    display: flex;
    align-items: center;
    gap: 50px;
    max-width: 1100px;
    width: 100%;
}

.circulo{
    width: 400px;
    height: auto;
}

.content-wrapper{
    flex: 1;
    max-width: 650px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}

.titulo-hola{
    max-width: 400px;
    height: auto;
    margin-bottom: 20px;
}

.bio-box{
    background-color: var(--verde-claro);
    padding: 30px;
    border-radius: 25px;
    margin-bottom: 20px;
    width: 100%;
}

.tags{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.tag{
    background-color: var(--verde-oscuro);
    color: var(--bg-color);
    padding: 8px 15px;
    border-radius: 50px;
    font-size: 0.9rem;
}

.software-header{
    background-color: var(--verde-claro);
    text-align: center;
    padding: 15px 0;
    margin: 40px 0;
}

.software-header h2 {
    margin: 0;
    font-size: 2.5rem;
    letter-spacing: 2px;
}

.software-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

.software-img{
    max-width: 600px;
    width: 100%;
    height: auto;
}



.main-footer{
    background-color: var(--verde-claro);
    padding: 40px 10%;
    margin-top: 60px;
    width: 100%;
    box-sizing: border-box;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
}

.footer-logo{
    display: flex;
    align-items: center;
    gap: 15px;
}

.footer-contacto h4{
    margin: 0 0 10px 0;
    font-size: 1.1rem;
}

.footer-contacto p{
    justify-content: right;
    margin: 2px 0;
    font-size: 0.9rem;
}


.social-icons{
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    align-items: center;
}

.social-icons a{
    text-decoration: none;
    color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--verde-oscuro);
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.social-icons a:hover{
    transform: scale(1.1);
    background-color: var(--letra-color);
}



@media (max-width: 768px){
    .about-container{
        flex-direction: column;
        padding: 10px 20px;
        width: 100%;
        box-sizing: border-box;
    }

    .content-wrapper{
        width: 100%;
        max-width: 100%;
        align-items: center;
        text-align: center;
    }

    .titulo-hola{
        width: 90%;
        height: auto;
        max-width: 350px;
    }

    .bio-box{
        width: 100%;
        padding: 20px;
        font-size: 0.9rem;
    }

    .footer-container{
        flex-direction: column;
        text-align: center;
        gap: 30px;
    }

    .social-icons{
        justify-content: center;
        width: 100%;
    }

    header{
        padding: 20px 10px;
        height: auto;
    }

    .hero-content, .project-item, .project-item.reverse{
        flex-direction: column;
        text-align: center;
    }
    
    .img-logo{
        width: 200px;
        height: auto;
    }

    nav ul{ 
        gap: 15px; 
        flex-wrap: wrap;
        justify-content: center;
    }
}